@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9843 0.0017 247.8393);
  --foreground: oklch(0.2079 0.0399 265.7275);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2079 0.0399 265.7275);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2079 0.0399 265.7275);
  --primary: oklch(0.6273 0.1700 149.2005);
  --primary-foreground: oklch(0.9899 0.0049 12.1788);
  --secondary: oklch(0.9684 0.0068 247.8951);
  --secondary-foreground: oklch(0.2079 0.0399 265.7275);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9684 0.0068 247.8951);
  --accent-foreground: oklch(0.2079 0.0399 265.7275);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9899 0.0049 12.1788);
  --border: oklch(0.9290 0.0126 255.5317);
  --input: oklch(0.9290 0.0126 255.5317);
  --ring: oklch(0.6273 0.1700 149.2005);
  --chart-1: oklch(0.6273 0.1700 149.2005);
  --chart-2: oklch(0.5460 0.2153 262.8719);
  --chart-3: oklch(0.7263 0.1249 349.3142);
  --chart-4: oklch(0.8542 0.1740 90.8129);
  --chart-5: oklch(0.7828 0.0764 230.6585);
  --sidebar: oklch(0.9686 0.0035 247.8590);
  --sidebar-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-primary: oklch(0.6273 0.1700 149.2005);
  --sidebar-primary-foreground: oklch(0.9899 0.0049 12.1788);
  --sidebar-accent: oklch(0.9514 0.0105 247.9370);
  --sidebar-accent-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-border: oklch(0.9006 0.0177 255.5572);
  --sidebar-ring: oklch(0.6273 0.1700 149.2005);
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(220 30% 10%);
  --shadow-2xs: 0px 2px 8px 0px hsl(220 30% 10% / 0.05);
  --shadow-xs: 0px 2px 8px 0px hsl(220 30% 10% / 0.05);
  --shadow-sm: 0px 2px 8px 0px hsl(220 30% 10% / 0.10), 0px 1px 2px -1px hsl(220 30% 10% / 0.10);
  --shadow: 0px 2px 8px 0px hsl(220 30% 10% / 0.10), 0px 1px 2px -1px hsl(220 30% 10% / 0.10);
  --shadow-md: 0px 2px 8px 0px hsl(220 30% 10% / 0.10), 0px 2px 4px -1px hsl(220 30% 10% / 0.10);
  --shadow-lg: 0px 2px 8px 0px hsl(220 30% 10% / 0.10), 0px 4px 6px -1px hsl(220 30% 10% / 0.10);
  --shadow-xl: 0px 2px 8px 0px hsl(220 30% 10% / 0.10), 0px 8px 10px -1px hsl(220 30% 10% / 0.10);
  --shadow-2xl: 0px 2px 8px 0px hsl(220 30% 10% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2079 0.0399 265.7275);
  --foreground: oklch(0.9838 0.0035 247.8583);
  --card: oklch(0.2800 0.0369 259.9740);
  --card-foreground: oklch(0.9838 0.0035 247.8583);
  --popover: oklch(0.2800 0.0369 259.9740);
  --popover-foreground: oklch(0.9838 0.0035 247.8583);
  --primary: oklch(0.7229 0.1921 149.5827);
  --primary-foreground: oklch(0.9827 0.0234 152.1196);
  --secondary: oklch(0.2800 0.0369 259.9740);
  --secondary-foreground: oklch(0.9838 0.0035 247.8583);
  --muted: oklch(0.2800 0.0369 259.9740);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.2800 0.0369 259.9740);
  --accent-foreground: oklch(0.9838 0.0035 247.8583);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.2800 0.0369 259.9740);
  --input: oklch(0.2800 0.0369 259.9740);
  --ring: oklch(0.7229 0.1921 149.5827);
  --chart-1: oklch(0.7229 0.1921 149.5827);
  --chart-2: oklch(0.5460 0.2153 262.8719);
  --chart-3: oklch(0.7263 0.1249 349.3142);
  --chart-4: oklch(0.8542 0.1740 90.8129);
  --chart-5: oklch(0.7828 0.0764 230.6585);
  --sidebar: oklch(0.2433 0.0513 265.4923);
  --sidebar-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-primary: oklch(0.7229 0.1921 149.5827);
  --sidebar-primary-foreground: oklch(0.9827 0.0234 152.1196);
  --sidebar-accent: oklch(0.2848 0.0378 259.9708);
  --sidebar-accent-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-border: oklch(0.3037 0.0413 259.9592);
  --sidebar-ring: oklch(0.7229 0.1921 149.5827);
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.5;
  --shadow-color: hsl(220 30% 10%);
  --shadow-2xs: 0px 4px 10px 0px hsl(220 30% 10% / 0.25);
  --shadow-xs: 0px 4px 10px 0px hsl(220 30% 10% / 0.25);
  --shadow-sm: 0px 4px 10px 0px hsl(220 30% 10% / 0.50), 0px 1px 2px -1px hsl(220 30% 10% / 0.50);
  --shadow: 0px 4px 10px 0px hsl(220 30% 10% / 0.50), 0px 1px 2px -1px hsl(220 30% 10% / 0.50);
  --shadow-md: 0px 4px 10px 0px hsl(220 30% 10% / 0.50), 0px 2px 4px -1px hsl(220 30% 10% / 0.50);
  --shadow-lg: 0px 4px 10px 0px hsl(220 30% 10% / 0.50), 0px 4px 6px -1px hsl(220 30% 10% / 0.50);
  --shadow-xl: 0px 4px 10px 0px hsl(220 30% 10% / 0.50), 0px 8px 10px -1px hsl(220 30% 10% / 0.50);
  --shadow-2xl: 0px 4px 10px 0px hsl(220 30% 10% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}